#sample-card{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: aqua;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    flex-wrap: wrap;
}


.card{
  height: 150px;
  width: 150px;
  background-color: brown;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hotpink;
  height: 300px;
  width: 300px;
}

.green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 200px;
  width: 200px;
}

.blue {
  background-color: blue;
  height: 100px;
  width: 100px;
}
